.video-wrap {
  background-color: #696969;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  padding: 10px;
}

#video {
  border-radius: 10px;
  width: 100%;
  height: auto;
  transform: scaleX(-1); /* This line mirrors the video */
}

.canvas-container {
  margin-left: 20px;
}

#canvas {
  border: 3px solid #f1ee0c;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.identity-ver {
  display: flex;
  justify-content: center;
  align-items: center;
}

#snap {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  font-family: 'Montserrat', Arial, serif;
}
