body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url('/images/blank_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container-background {
    min-height: 100vh;
}
.content{
    background-color: #fff;
    width: 999px;
    height: 700px;
    border-radius: 0 10px 10px 0;
    padding: 40px;
}

/* ==> Progress */

.progress {
    background-color: #2c2e3a;
    color: #f4f4f4;
    width: 250px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
}
.progress h4 {
    font-size: 19px;
    margin-bottom: 5px;
    font-family: 'Montserrat', arial, serif;
}
p.step-description {
    font-size: 12px;
    color: #f4f4f4;
    margin-bottom: 50px;
    font-family: 'Montserrat', arial, serif;
}
.progress .step {
    font-size: 14px;
    color: #f4f4f4;
    opacity: 50%;
    
}
.progress .step.active {
    font-weight: bold;
    opacity: 100%;
}

.progress ul.progress-steps {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding-inline-start: 0px;
    gap: 4em;
}
.progress ul.progress-steps li {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.7em;

}
.progress ul.progress-steps li > span {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    border-radius: 50%;
    border: 2px solid;
}
.logo {
    font-size: 41.6px;
    font-weight: bold;
    color: f4f4f4;
    font-family: 'Montserrat', arial, serif;
}
.logo a {
    color: #f4f4f4;
    text-decoration: none;
}
.container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border: 8px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    font-family: 'Montserrat', arial, serif;
}

/* ==> Form */
.form-box {
    display: flex;
    flex-direction: row;
}

.form-box .progress {
    position: relative;
    padding: 1em;
}
.form-box form {
    width: 100%;
    /* background-color: #fff; */
}
form > div {
    /* max-width: 400px; */
    margin: 0;
}
form > div p {
    font-size: 12px;
    color: grey;
    margin-bottom: 2em;
}
form > div > div:not(.row,.btn-group){

    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

form :where(.row){
    margin-bottom: 2em;
}
form :where(input) {
    height: 30px;
    padding: 0 1em;
    border-radius: 7px;
    /* outline-color: grey; */
    border: 3px solid #2c2e3a;
    background-color: #f4f4f4;
    font-family: 'Montserrat', arial, serif;
}

.form-step{
    /* width: 999px;
    height: 700px; */
    border-radius: 0 10px 10px 0;
}
.form-one {
    flex: 1;
    /* padding: 40px; */
    /* background-color: #fff; */
    
}
.form-one .progress {
    margin-top: 100px;
}
.bg-svg {
    margin-top:100px;
}

/* ==> Input Boxes */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

#long-input-box {
    width: 600px;
}
#id-number {
    width: 250px;
}
#phone-number {
    width: 250px;
    margin: 0 64px;
}
#kra-pin {
    width: 350px;
}

::placeholder {
    color: black;
}


/* ==> Buttons */

.btn-group {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    /* flex-wrap: wrap; */
    /* gap: 1em; */
    /* margin-top: 2em;*/
}
.btn-group [class*="btn-prev"] {
    /* background-color: #3471d6; */
    border: 2px solid black;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    font-family: 'Montserrat', arial, serif;
}

.btn-group [class*="btn-next"] {
    background-color: #3471d6;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    margin-left: 600px;
    color: white;
    font-family: 'Montserrat', arial, serif;
}

.btn-group [class*="btn-submit"] {
    background-color: #00ad3b;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 600px;
    color: white;
    font-family: 'Montserrat', arial, serif;
}




@media screen and (min-width: 768px) {
    .form-box .progress {
        flex: 1 0 5%;
        min-width: 255px;
        padding: 1em;
    }
    .logo {
        margin: -10px 5px 10px;
    }
    .progress ul.progress-steps {
        flex-direction: column;
        /* gap: 14px; */
    }
    .progress ul.progress-steps li:not(:last-child)::before {
        content: '';
        position: absolute;
        left:20px;
        top: 42px;
        width: 2px;
        height: 77px;
        background-color: #f4f4f4;


    }
}