#page-three {
    /* padding: 40px; */
    margin-top: -40px;
}
.form-group a {
    text-decoration: none;
    color:#3471d6;
}

/* Signatures */

.signature-box {
    width:300px;
    height:210px;
    border-radius: 10px;
    padding: 10px;
    /* text-align: center; */
    align-items: center;
    background: #DCDCDC;
}
.signature-pad { 
    width: 250px;   
    height: 150px;
    margin: 10px 20px;
    background: #fff;
}
.personal-relief-request-signatures {
    display: flex;
    flex-direction: row;
}
.personal-relief-request-signatures #first-signature {
    margin-right: 10%;
}

/* Input Boxes */

input {
    height: 30px;
    padding: 0 1em;
    border-radius: 7px;
    border: 3px solid #2c2e3a;
    background-color: #f4f4f4;
    font-family: 'Montserrat', arial, serif;
}
#client-name {
    width: 300px;
}
.lowercase-list {
    list-style-type: lower-alpha;
}
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}
input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
}

/* Buttons */

.buttons {
    display: flex;
    flex-direction: row;
    width: 25px;
    height: 20px;
    font-family: 'Montserrat', arial, serif;
    cursor: pointer;
}
.buttons .cancel {
    background-color: #A9A9A9;
    color: #fff;
    border: none;
}
.buttons .accept {
    background-color: #3471d6;
    color: #fff;
    border: none;
    margin-left: 180px;
}
.sign-info{
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin-left: 73px;
}